<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_base_backend.css') }}">
</head>
<body>
     <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="sidebar-logo">
            <i class="fa-solid fa-hotel"></i> RedHotel PMS
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">NGHIỆP VỤ LỄ TÂN</li>
            <li class="active"><a href="#"><i class="fa-solid fa-chart-line"></i> Dashboard lễ tân</a></li>
            <li><a href="#"><i class="fa-solid fa-calendar-check"></i> Quản lý Đặt phòng</a></li>

            {% if session.current_user.LaAdmin == 1 %}
            <li class="menu-header">NGHIỆP VỤ ADMIN</li>
            <li class="active"><a href="/dashboard_admin"><i class="fa-solid fa-chart-line"></i> Dashboard Admin</a></li>
            <li><a href="/rooms_admin"><i class="fa-solid fa-bed"></i> Quản lý Phòng</a></li>
            <li><a href="/rooms_types_admin"><i class="fa-solid fa-layer-group"></i> Quản lý Loại phòng</a></li>
            <li><a href="/services_admin"><i class="fa-solid fa-bell-concierge"></i> Quản lý Dịch vụ</a></li>
            <li><a href="/staffs_admin"><i class="fa-solid fa-user-tie"></i> Quản lý Nhân viên</a></li>
            <li><a href="/customers_admin"><i class="fa-solid fa-users"></i> Quản lý Khách hàng</a></li>
            {% endif %}


        </ul>

    </aside>
    <!-- MAIN -->
    <div class="main-wrapper">
        <header class="topbar">
            <div class="topbar-title">{% block page_title %}Tiêu đề Topbar{% endblock %}</div>
            <div class="user-profile">
                <div class="user-info">
                    <div class="user-name">{{ session.current_user.HoTen }}</div>
                    <div class="user-role">
                        {% if session.current_user.LaAdmin == 1 %}
                            Admin
                        {% else %}
                            Lễ tân
                        {% endif %}
                    </div>
                </div>
                <div class="avatar">DEV</div>
                <a href="/logout" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i> Thoát</a>
            </div>
        </header>

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>